
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: #131922;
    color: aliceblue;
    padding: 2px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.header-container{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    font-size: 20px;
    margin-right: 130px;  
    z-index: 100;
    top: 0; 
}

.logo{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    font-size: 28px;
    margin-left: 115px;  
    z-index: 100;
    top: 0; 
    font-family: 'Anton', sans-serif;
}

.home, .about-me, .projects, .contacts{
    font-family: 'Work Sans', sans-serif; 
}

.main{
    background-color: rgb(11, 28, 50);
    color: white;
    height: 680px;
    padding: 150px;
    align-items: center;   
}

.introduction{
    width: 700px;  
    text-align: justify;
    padding: 20px;

}

.introduction h1{
    font-size: 55px;
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;  
}

.introduction h3{
    font-size: 30px;
    color: rgb(0, 98, 255);
    font-family: 'Nunito Sans', sans-serif;  
}

.introduction p{
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}

.download{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255); /* Button color */
    color: #fff; /* Text color */
    text-decoration: none;
    font-size: 16px;
    border-radius: 30px; /* Round borders */
    transition: background-color 0.3s ease;
    margin-left: 20px;
}

.download:hover{
    background-color: #4caf50;
}

.download, .download-button:hover{
    color: inherit;
    text-decoration: none;
}

span{
    font-size: 25px;
    text-decoration: none;
    color: #333;    
}

img{
    display: block;
    width: auto;
    height: 550px;
    float: right;
    flex-wrap: wrap;
    margin-top: -320px;
    border-radius: 50px;
}

.body{
    display: flex;
    padding: 20px;
    justify-content: center;
    height: 420px;  
    background-color: rgb(239, 241, 255);
}

.whatido{
    font-size: 35px;
    font-family: 'Nunito Sans', sans-serif;  
    font-weight: bold;
    text-align: center;
    
}

.description{
    padding: 15px;
    font-family: 'Nunito Sans', sans-serif; 
    font-size: 18px;
    text-align: justify;
    width: 950px;
   
}

.projects-section{
    background-color: rgb(11, 28, 50);
    color: aliceblue;
    padding: 20px;
    display: flex;
    justify-content: center;
    height: 1000px;
    font-size: 35px;
    font-family: 'Nunito Sans', sans-serif;  
    font-weight: bold;

}

.credentials{
    background-color: rgb(239, 241, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    justify-content: center;
    height: 1000px;
    font-size: 35px;
    font-family: 'Nunito Sans', sans-serif;  
    font-weight: bold;
}

.footer{
    background-color: #131922;
    color: aliceblue;
    padding: 20px;
    display: flex;
    height: 70px;
    justify-content: space-between;
    z-index: 100;
}

.logos{
    display: flex;
    height: 200px;
    justify-content: center;
}

.logos img {
    width: 95px; 
    height: 80px;
    margin-top: 20px;
}

.credentials{
    display: flex;   
}

.credentials p6{
    text-align: center;
    width: 500px;
    height: 60px;
    margin-left: 420px;
}

.cert{
    display: block;
    width: auto;
    height: 400px;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: -100px;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
}